*{
    background-color:#f5f5f57d;
    box-sizing: border-box;
    margin:5px ;

    }

    
  h1, h2{ 
      
     text-align:center;
     clear: both;
     padding:20px;
     transition: 1s;
       }

  h1:hover, h2:hover{
    
    background-color:#1e90ff87;
    color:whitesmoke;
    font-size:250%;
    font-family: monospace;
    letter-spacing: 10px;
}



  p {font-family: Times, serif;}
 
  h3{background-color:#d1f1f1;}


.grid-item{

    float:left;
    border:solid #009688;
    border-width: 3px;
    overflow:hidden;

}


li {list-style-type: none;}

#grid-floats li:nth-child(1) {
  
     width: calc(50% - 1.5em);
     height:430px; 
     transition: width 1s, height 1s;
    }

#grid-floats li:nth-child(1):hover {
      width: 60%;
      height: 60%;

   
}
    
 #grid-floats li:nth-child(n+2):nth-child(-n+14){
        width: calc(25% - 1em);
        height:430px;
        transition:width 2s,transform 2s;
    }

 #grid-floats li:nth-child(n+2):nth-child(-n+14):hover {
        width: calc(25% + 1em);
      
        transform: rotate(360deg);
    }


  img {

    width:80%;
   
   }

   

/* tablet mode */
 
   @media screen and (max-width: 1000px)and (min-width: 650px) {
      #grid-floats li:nth-child(1) {
           width:47%;
         
        }
   #grid-floats li:nth-child(2) {
           width:47% !important; 
          
}
   }
   
           


  @media screen and (max-width: 1000px)and (min-width: 650px) {
     #grid-floats li:nth-child(n+1):nth-child(-n+14){
    
           border-color: coral;
           border-radius:10px;
           
    }
}

   
/*     phone mode */

 @media screen and (max-width: 650px) {
      #grid-floats li:nth-child(1) {
           width: calc(100% - 1em);
    
           border-color: #795548;

/*         transition:none !important; */
    }
}
 

   @media screen and (max-width: 650px) {
     #grid-floats li:nth-child(n+2):nth-child(-n+14){
           width: calc(50% - 1em);
           border-color: #795548;
      
           
    }
    
}

   /****** Flexbox *****************/

 section:nth-child(2) h2:nth-child(1):hover { 
      
    background-color:#FF5722;
  
       }
#grid-flex li:nth-child(1) {
  
     width: calc(50% - 1.5em);
     height:430px; 
     transition: width 1s, height 1s;
    }

#grid-flex li:nth-child(1):hover {
       width: 60%;
      height: 60%;

   

   
}

  #grid-flex{

    display:flex;
    flex-wrap:wrap;
/*     
    border:solid #9E9E9E;
    border-width: 2px;
    margin:10px ; */
}


  #grid-flex li:nth-child(1){
     width:580px;
     height:425px;
     font-size:22px; 
    
    }
    

  #grid-flex li:nth-child(n+2):nth-child(-n+14){
        width:285px;
        height:425px;
        
    }

/* tablet mode */
 
   @media screen and (max-width: 1000px)and (min-width: 650px) {
      #grid-flex li:nth-child(1) {
           width:47%;
         
        }
   #grid-flex li:nth-child(2) {
           width:47% !important; 
          
}
   }
   
           


  @media screen and (max-width: 1000px)and (min-width: 650px) {
     #grid-flex li:nth-child(n+1):nth-child(-n+14){
    
           border-color: coral;
           border-radius:10px;
     }
      #grid-flex li:nth-child(n+3):nth-child(-n+14){
    
       width: calc(25% - 1em);
           
    
      }

}

   
/*     phone mode */

 @media screen and (max-width: 650px) {
      #grid-flex li:nth-child(1) {
           width: calc(100% - 1em);
           border-width:2px;
           border-radius:5px;
           border-color: #2196F3;


    }
}
 

   @media screen and (max-width: 650px) {
     #grid-flex li:nth-child(n+2):nth-child(-n+14){
           width: calc(50% - 1em);
           border-color: #2196F3;
           border-radius:5px;
           border-width:2px;
    }
    
}
